body{
    background:#f5f5f5;
}
.cg-container{
    width:1140px;
    background:#fff;
    border-radius:5px;
    box-shadow:0 0 5px #eee;
    margin:70px auto 137px;
    padding:30px;
}
.cg-header{
    width:100%;
    height:30px;
    margin-bottom:30px;
    position:relative;
}
.cg-header span{
    display:block;
    float:left;
    width:510px;
    line-height:30px;
}
.cg-header h3{
    display:block;
    float:left;
    width:110px;
    font-size:24px;
    color:#4eb17d;
}
.left-part{
    float:left;
    width:787px;
}
.right-part{
    float:right;
    width:300px;
}
.create-box{
    margin-bottom:50px;
}
.create-group-name{
    width:100%;
    line-height:40px;
}
.group-introduce{
    width:100%;
    line-height:40px;
    margin-top:30px;
}
.create-group-name label,.group-introduce label,.labelBox label,.contact label{
    float:left;
    font-size:16px;
    color:#109d59;
    width:97px;
    display:block;
    text-align:center;
}
.create-group-name input{
    float:right;
    width:688px;
    height:40px;
    background:#fff;
    border:1px solid #e6e6e6;
    text-indent:1em;
    display:block;
}
.group-introduce textarea{
    width:682px;
    height:212px;
    resize: none;
    border:1px solid #e6e6e6;
}

/*±êÇ©*/
#input_blog_title{
    width:1080px;
    height:40px;
    border:1px solid #e6e6e6;
    background:#f8f8f8;
    text-indent:1.5em;
    margin-bottom:30px;
    font-size:14px;
}
#blog-editer{
    width: 100%;
    background: #eee;
    overflow: hidden;
}

.group-introduce-input{
    outline: 0;
}
.labelBox{
    width:100%;
    height:40px;
    background:#fff;
    margin-top:30px;
    line-height:40px;
    position:relative;
}
.clearFixBlog::after{
    content:"";
    display:block;
    clear:both;
}

.ipva{
    margin-left:8px;
    margin-bottom:0;
    border: none;
    float: left;
    display: block;
    outline: none;
    width:300px;
    background: none;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color:#000;
    font-family: Î¢ÈíÑÅºÚ;
    text-indent: 3em;
}

 .i_inp{
     float: right;
     width: 688px;
     box-sizing: border-box;
     background: #fff;
     display: block;
     min-height: 30px;
     /* max-height: 37px; */
     height: 40px;
     border: 1px solid #dbdbdb;
     line-height: 40px;
     color: #b9b9b9;
     position: relative;
     padding-left: 50px;
}
.i_inp::after{
    content: "";
    display: block;
    width: 23px;
    height: 14px;
    position: absolute;
    top: 13px;
    left: 20px;
    background:url(../indexImg/labelIcon_03.png) no-repeat center center;
}

.recommend-label{
    margin-top:15px;
    margin-left:97px;
}
.recommend-label a{
    color:#747474;
    display:inline-block;
    margin-right:15px;
}

.ui-sortable{
    margin-left:50px;
}

.contact{
    margin-top:40px;
}
.contact-email,.contact-QQ{
   display:inline-block;
    width:334px;
    height:40px;
    border:1px solid #e6e6e6;
    margin-right: 12px;
    text-indent:1em;
    margin-bottom:16px;
}
.contact-QQ{
    margin:0;
}
.contact-tips{
    margin-left:98px;
    color:#666;
    font-size:14px;
}

#submitApply{
    width:158px;
    height:48px;
    margin:0 auto 19px;
    text-align:center;
    line-height:48px;
    background:#f68344;
    color:#fff;
    border:1px solid #f68344;
    border-radius:30px;
    display: block;
    font-size:18px;
    font-family: 'Î¢ÈíÑÅºÚ';
}
.agreement-label{
    display:block;
    width:268px;
    margin: 0 0 0 455px;
    font-size:14px;
}
.agreement-label a{
    color:#109d59;
}
form{
    position:relative;
}
.agreement{
    position: absolute;
    bottom: -1px;
    left: 430px;
    border: 1px solid #d6d6d6;
    width: 14px;
    height: 14px;
    border-radius: 3px;
    background: #fff;
}

/*ÕÕÆ¬ÉÏ´«*/

.p_container {
    height: 298px;
    width: 298px;
    /*margin: 30px auto 0 auto;*/
    position: relative;
    font-family: Î¢ÈíÑÅºÚ;
    font-size: 12px;
}
.p_container p {
    line-height: 12px;
    line-height: 0px;
    height: 0px;
    margin: 10px;
    color: #bbb
}
.p_action {
    width: 400px;
    height: 30px;
    margin: 10px 0;
}
.p_cropped {
    position: absolute;
    right: -230px;
    top: 0;
    width: 200px;
    border: 1px #ddd solid;
    height: 460px;
    padding: 4px;
    box-shadow: 0px 0px 12px #ddd;
    text-align: center;
    margin-right: -80px;
}
.imageBox {
    position: relative;
    height: 298px;
    width: 298px;
    border: 1px solid #e0e0e0;
    background: #fff;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor: move;
}
.imageBox .thumbBox {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    box-sizing: border-box;
    border: 1px solid rgb(102, 102, 102);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0% 0% transparent;
}
.imageBox .spinner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 400px;
    background: rgba(0,0,0,0.7);
}
.Btnsty_peyton{
    width: 38px;
    display: inline-block;
    height: 30px;
    line-height: 25px;
    font-size: 20px;
    color: #FFFFFF;
    margin: 0px 2px;
    background:rgba(0,0,0,0.5);
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    border: 0px  solid #fff;
}
.Btnsty_peyton#btnCrop{
    position: absolute;
    bottom: 0px;
    right: -2px;
    display:block;
    background:rgba(0,0,0,0.5) url(../indexImg/cut.png) no-repeat center center;
}
.Btnsty_peyton#btnZoomIn{
    position: absolute;
    bottom: 0px;
    left: 45px;
}
.Btnsty_peyton#btnZoomOut{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.p-mengban{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:9999;
    border:1px solid #e0e0e0;
    background:#f7f7f7 url(../indexImg/smileIcon_03.png) no-repeat center center;
}
.p-mengban:hover{
    cursor:pointer;
}
.p-mengban .p-mengban-word{
    color: #ccc;
    line-height: 405px;
    margin-left: 102px;
}
#upload-file{
    display: none;
}
/*Ñ¡ÔñÎÄ¼þÉÏ´«*/